<div class="container-fluid">
    <div id="home">
        <p class="text-center"><strong>GIT-HUB SEARCH - </strong>this is an Application that helps One to , <br>easily
            access ones git-hub account without
            much strain of remembering passwords </p>
    </div>
    <div class="profile-info mt-3">
        <h3 class="text-center">My Repositories</h3>
        <div class="row">
            <div class="col-sm-4">
                <img src="./assets/mine.JPG" id="pic1">
                <h4 class="mt-2"> GitHub-UserName:<span  id="name">danielevans-999</span></h4>
            </div>
            <div class="col-sm-8">
                <div class="card mb-1">
                    <div class="card-header">
                        <h6>Angular-App</h6>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info"><a href="https://github.com/danielevans-999/Angular-App">View On Git-Hub</a></button>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header">
                        <h6>Akan Name Generator</h6>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info"><a href="https://github.com/danielevans-999/AKAN-NAME-GENERATOR">view On Git-Hub</a></button>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header">
                        <h6>Delani Studio</h6>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info"><a href="https://github.com/danielevans-999/Delani-studio-">view On Git-Hub</a></button>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header">
                        <h6>Pizza Website</h6>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-info"><a href="https://github.com/danielevans-999/pizza-chapachap">view On Git-Hub</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>